.tmp-card .inner .content .title {
  font-size: 16px;
}

.tmp-card .inner .content {
  padding: 15px;
}

.slider-area .inner {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
}

.tmp-badge-2 {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
}
.discription ul li {
  font-size: inherit;
}

.tmp-address {
  height: -webkit-fill-available;
}

.rounded-8px {
  border-radius: 8px !important;
}

.slider-style-2.variation-2 .inner p {
  padding-right: 0;
}